.Profile {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  overflow-y: scroll;
}

.profile-page-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  border-left: 1px solid rgba(34, 38, 41, 0.3);
  border-right: 1px solid rgba(34, 38, 41, 0.3);
  overflow-y: scroll;
}

.profile-image {
  height: 80px;
  width: auto;
  background-color: #222629;
  border: 2px solid #222629;
  border-radius: 50px;
}

.profile-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(34, 38, 41, 0.3);
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-username {
  font-weight: 700;
}

.follow-container {
  display: flex;
  gap: 10px;
}

.following-container,
.followers-container {
  display: flex;
  gap: 5px;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.edit-profile-button {
  padding: 6px 12px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: rgb(134, 194, 50);
  border: 1px solid rgb(134, 194, 50);
  color: #ffffff;
}

.log-out-button {
  padding: 6px 12px;
  border-radius: 15px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: #ffffff;
  border: 1px solid #6b6e70;
  color: #222629;
}

.edit-profile-button:hover {
  cursor: pointer;
  background-color: rgba(113, 170, 44, 0.7);
}

.log-out-button:hover {
  background-color: rgba(34, 38, 41, 0.05);
}

@media (max-width: 600px) {
  .profile-page-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 14px;
  }

  .profile-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit-profile-button {
    width: 85px;
    padding: 6px 12px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 12px;
    border: none;
    background-color: #86c232;
    color: #ffffff;
  }

  .log-out-button {
    width: 85px;
    padding: 5px 11px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid #6b6e70;
    color: #222629;
  }
}

@media (min-width: 601px) and (max-width: 1080px) {
  .profile-page-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 14px;
  }
}
