.Settings {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow-y: scroll;
}

.settings-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  height: 100%;
  border-left: 1px solid rgba(34, 38, 41, 0.3);
  border-right: 1px solid rgba(34, 38, 41, 0.3);
  overflow-y: scroll;
}

.settings-title-container {
  padding: 10px;
  border-bottom: 1px solid #222629;
  font-size: 30px;
}

.settings-info-container {
  padding-top: 5%;
}

.settings-profile-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-user-name-container,
.settings-bio-container {
  display: flex;
  flex-direction: column;
  gap: 10x;
  align-items: center;
}

.settings-users-name,
.settings-users-bio {
  font-weight: 700;
}

.settings-profile-usersname,
.settings-bio-text {
  width: 50%;
}

.settings-profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-profile-image {
  background-color: #222629;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: gray;
  border-style: outset;
}

.add-photo-image {
  background-color: rgba(34, 38, 41, 0.9);
  height: 20px;
  padding: 4px;
  border-radius: 25px;
  position: relative;
  bottom: 90px;
}

.save-profile-button {
  padding: 6px 12px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: rgb(134, 194, 50);
  border: 1px solid rgb(134, 194, 50);
  color: #ffffff;
}

.save-profile-button:hover {
  cursor: pointer;
  background-color: rgba(113, 170, 44, 0.7);
}

.new-profile-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 50px;
}

#file-upload {
  border: 1px solid red;
  display: none;
}

.name-text-container,
.bio-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid #86c232;
  width: 60%;
  padding: 10px;
  height: 60px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.settings-profile-usersname,
.settings-bio-text {
  font-size: 15px;
  border: none;
  width: 96%;
  resize: none;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .settings-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 14px;
  }
  .name-text-container,
  .bio-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid #86c232;
    width: 90%;
    padding: 10px;
    height: 60px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .settings-profile-usersname,
  .settings-bio-text {
    font-size: 14px;
    border: none;
    width: 96%;
    resize: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }

  .settings-profile-image {
    height: 75px;
    width: 75px;
    background-color: #222629;
    border: 2px solid #222629;
    border-radius: 50px;
  }

  .add-photo-image {
    position: relative;
    bottom: 60px;
  }
}

@media (min-width: 601px) and (max-width: 1080px) {
  .settings-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 14px;
  }

  .settings-title-container {
    padding: 5px;
    border-bottom: 1px solid #222629;
    font-size: 24px;
  }

  .settings-profile-data {
    gap: 5px;
  }

  .settings-info-container {
    padding-top: 10px;
  }

  .settings-profile-image {
    height: 75px;
    width: 75px;
    background-color: #222629;
    border: 2px solid #222629;
    border-radius: 50px;
  }

  .settings-profile-usersname {
    border: 1px solid #86c232;
    width: 90%;
    padding: 10px;
    height: 30px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .save-profile-container {
    padding-bottom: 5px;
  }

  .name-text-container,
  .bio-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid #86c232;
    width: 90%;
    padding: 10px;
    height: 45px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .settings-profile-usersname,
  .settings-bio-text {
    font-size: 14px;
    border: none;
    width: 96%;
    resize: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }

  .add-photo-image {
    position: relative;
    bottom: 60px;
  }
}
