.chatRoom {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}

.chatRoom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  text-align: center;
  height: 100%;
  border-left: 1px solid rgba(34, 38, 41, 0.3);
  border-right: 1px solid rgba(34, 38, 41, 0.3);
}

.back-to-messages {
  display: flex;
  align-items: center;
}

.chatRoom-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #222629;
  font-size: 20px;
  font-weight: 700;
}

.chatRoom-message-container {
  padding-top: 5px;
  gap: 1px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  overflow-y: scroll;
  height: 100%;
  /* width: 100%; */
  /* border-bottom: 1px solid rgb(34, 38, 41); */
}

.chatRoom-message-data {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
  gap: 5px;
}

.chatRoom-message-data-user {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  width: 95%;
  gap: 5px;
}

.chatRoom-last-message {
  padding: 20px;
  color: #222629;
  overflow-wrap: break-word;
  max-width: 400px;
  text-align: left;
  border-radius: 20px 20px 5px 20px;
  background-color: #86c232;
}

.chatRoom-last-message-user {
  padding: 20px;
  color: white;
  overflow-wrap: break-word;
  max-width: 400px;
  text-align: left;
  border-radius: 20px 20px 20px 5px;
  background-color: #6b6e70;
}

.chatRoom-go-back-arrow {
  height: 30px;
  width: 30px;
}

.chatRoom-sent-date,
.chatRoom-sent-date-user {
  font-size: 12px;
}

.chat-text-bar {
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 1px solid rgb(34, 38, 41);
}

#message-input {
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #222629;
}

#message-input:focus {
  cursor: pointer;
}

.send-message {
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #6b6e70;
  color: #222629;
}

.send-message:hover {
  cursor: pointer;
  background-color: rgba(34, 38, 41, 0.05);
}

.chatRoom-userID {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chatRoom-userPic {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid #222629;
}

@media (max-width: 600px) {
  .chatRoom-title-container {
    font-size: 18px;
    font-weight: 700;
  }
  .chatRoom-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 13px;
  }

  .chatRoom-message-container {
    padding-top: 5px;
    display: flex;
    align-items: flex-end;
    gap: 1px;
  }

  .chatRoom-message-data {
    padding: 5px 10px 5px 5px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .chat-text-bar {
    z-index: 1;
    position: relative;
    padding: 10px;
    padding-bottom: 60px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
  }

  .chatRoom-last-message {
    max-width: 300px;
    overflow-wrap: break-word;
    text-align: left;
  }
  .chatRoom-sent-date,
  .chatRoom-sent-date-user {
    font-size: 10px;
  }

  .send-message {
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #6b6e70;
    color: #222629;
  }
}

@media (min-width: 601px) and (max-width: 1080px) {
  .chatRoom-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    text-align: center;
    font-size: 14px;
  }
}
