.Messages {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  height: 100%;
  border-left: 1px solid rgba(34, 38, 41, 0.3);
  border-right: 1px solid rgba(34, 38, 41, 0.3);
}

.messages-title-container {
  padding: 10px;
  border-bottom: 1px solid #222629;
  font-size: 30px;
}

.messages-list-container {
  padding-top: 10px;
  gap: 1px;
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
  overflow-y: scroll;
}

.message-container {
  padding: 10px;
  display: flex;
  gap: 20px;
  border: 1px solid #222629;
}

.message-container:hover {
  background-color: rgba(107, 110, 112, 0.2);
}

.message-container-unread {
  padding: 10px;
  display: flex;
  gap: 20px;
  border: 1px solid #222629;
  background-color: rgba(107, 110, 112, 0.2);
}

.message-container-unread:hover {
  background-color: rgba(107, 110, 112, 0.3);
}

.message-user {
  background-color: #222629;
  border: 2px solid #222629;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.message-user-container {
  display: flex;
  align-items: center;
}

.message-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.messager-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.messages-username {
  font-weight: 700;
}

.message-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .messages-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    text-align: center;
    font-size: 13px;
  }
}

@media (min-width: 601px) and (max-width: 1080px) {
  .messages-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    text-align: center;
    font-size: 14px;
  }
}
