.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #222629;
}

.feed-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-img {
  height: 50px;
}

.logo-title {
  font-size: 32px;
  color: #ffffff;
  font-family: "Permanent Marker";
}

.search-bar-container {
  display: flex;
  align-items: center;
}

input[type="search"] {
  width: 400px;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

input[type="search"]:hover {
  cursor: pointer;
}

input[type="search"]::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.access-buttons-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sign-up-button,
.log-in-button {
  padding: 8px 16px;
  width: 150px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
}

.sign-up-button:hover,
.log-in-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.9;
}

.sign-up-button a,
.log-in-button a {
  text-decoration: none;
  color: #ffffff;
}

.log-in-button a {
  text-decoration: none;
  color: #222629;
}

.sign-up-button {
  border: 1px solid #222629;
  background-color: #86c232;
  color: #ffffff;
}

.log-in-button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #222629;
}

.directory-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.user-logo,
.feed-logo,
.messages-logo {
  height: 30px;
}

.user-logo {
  border: 2px solid #222629;
  border-radius: 50px;
}

.notifications-logo,
.post-logo {
  height: 36px;
}

.nav-underline.active {
  border-bottom: 2px solid #86c232;
}

.have-an-account-text {
  display: flex;
  gap: 5px;
}

@media (max-width: 600px) {
  .nav {
    padding: 10px;
  }

  .logo-title {
    display: none;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .logo-img {
    height: 32px;
  }

  .logo-title {
    font-size: 24px;
    color: #ffffff;
    font-family: "Permanent Marker";
  }

  input[type="search"] {
    width: 70vw;
    border: none;
    border-radius: 15px;
    padding: 8px;
  }

  .access-buttons-container {
    position: fixed;
    bottom: 0;
    background-color: #222629;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
  }

  .sign-up-button,
  .log-in-button {
    padding: 8px 16px;
    width: 150px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
  }

  .directory-container {
    position: fixed;
    bottom: 0;
    background-color: #222629;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
  }

  .directory-post-container {
    position: fixed;
    bottom: 8%;
    right: 5%;
    background-color: #86c332;
    padding: 7px 9px 5px 9px;
    border-radius: 25px;
  }

  .post-logo {
    height: 34px;
  }
}

@media (min-width: 600px) and (max-width: 1300px) {
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .logo-img {
    height: 40px;
  }

  .logo-title {
    font-size: 28px;
  }

  input[type="search"] {
    width: 250px;
    border: none;
    border-radius: 15px;
    padding: 8px;
  }

  .access-buttons-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .sign-up-button,
  .log-in-button {
    padding: 6px 12px;
    width: 90px;
  }

  .directory-container {
    gap: 20px;
  }
}
