.sign-up-container {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  background-color: white;
  border: 1px solid #222629;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 20px;
  width: 25%;
}

.sign-up-form-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-up-exit {
  text-decoration: none;
  color: #222629;
  font-weight: 700;
  border-radius: 50%;
  padding: 4px 9px 5px 10px;
}

.sign-up-logo-img {
  padding-right: 30px;
}

.sign-up-exit:hover {
  background-color: rgba(107, 110, 112, 0.3);
}

.sign-up-form-main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.sign-up-title {
  font-weight: 700;
  font-size: 30px;
}

.sign-up-form input {
  width: 300px;
  border-radius: 10px;
  border: 1px solid #222629;
  padding: 5px;
}

.sign-up-form input:focus {
  outline: none;
}

#sign-up-email {
  border: 1px solid #222629;
}

.sign-up-email-directions.invalid {
  color: red;
}

.sign-up-email-directions.valid {
  color: green;
}

.sign-up-password-directions-container.valid {
  color: green;
}

.sign-up-password-directions-container.invalid {
  color: red;
}

.sign-up-username-directions.valid {
  color: green;
}

.sign-up-username-directions.invalid {
  color: red;
}

.sign-up-username-container,
.sign-up-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-email-directions,
.sign-up-password-directions,
.sign-up-username-directions {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
  max-width: 320px;
}

.register-button {
  padding: 8px 16px;
  width: 300px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: #86c232;
  color: #ffffff;
}

.register-button:enabled:hover {
  cursor: pointer;
  opacity: 0.8;
}

:disabled {
  opacity: 0.3;
}

.sign-up-error {
  font-size: 14px;
  text-align: center;
  color: white;
}

.sign-up-error.active {
  color: red;
}

@media (max-width: 600px) {
  .sign-up-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .sign-up-form-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    /* border: solid red; */
    height: 70%;
    align-items: center;
    padding-bottom: 20px;
  }
}

@media (min-width: 600px) and (max-width: 1300px) {
  .sign-up-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .sign-up-form-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 70%;
    align-items: center;
    padding-bottom: 20px;
  }
}
